---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-braces-around-statements,
        -hicpp-braces-around-statements,
        -clang-analyzer-optin.cplusplus.VirtualCall,
        -clang-diagnostic-error,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -misc-non-private-member-variables-in-classes,
"
WarningsAsErrors: true
HeaderFilterRegex: ''
FormatStyle: none